@use '../variables';
#portfolio {
    display: flex;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 3rem;
    h1 {
        width: 100%;
        font-size: 4.5rem;
        margin-bottom: 3rem;
        font-family: variables.$font-title;
        background: variables.$gradient;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    @media screen and (max-width: 460px) {
        h1 {
            @include mixins.center;
            font-family: variables.$font-title;
            margin-bottom: 1.6rem;
            font-size: 3rem;
        }
    }
}
