$font-stack: 'Helvetica';
$font-title: 'Verdana';
$text-color: #FFF;
$text-color-secondary: #a6a6a6;
$body-bg-color: #271B31;
$bg-color: #111;
$bg-color-secondary: #1d1d1d;
$container-border-radius: 10px;
$border-radius-perfil: 20px;
$border-radius-round: 150px;
$card-border-radius: 5px;
$gradient: linear-gradient(to right, #e7e8f2 0%, #4f68fa 100%);
$gradient-btn: linear-gradient(to right, #5561e1 0%, #071877 100%);
